<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>BANK APP</title>
</head>
<body>
<span th:text="${msg}" style="color:red"></span>
<h2>Deposit Amount</h2>
<form th:object="${acc}"  th:action="@{/deposite}" method="post">
	<label>AccountId</label>
	<input type="number" th:field="*{accountId}"><br/>
	<label>Amount</label>
	<input type="number" th:field="*{amount}"><br/>
	<input type="submit" th:value="Deposite" name="submitButton"/>
	<input type="reset" value="reset"/>
</form>

<a href="/withdrawview">Withdraw</a>
<br>
<a href="/">Create An Account</a>
<br>
<a href="/checkbalanceview">Check Balance</a>
<hr/>
</body>
</html>